.homepage-body {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 0;
    z-index: 2;
    position: relative;
    top: -50px;

    .phone-container {
        display: flex;
        padding: 10px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
